.cl1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 2px;
    
}
.carousel-container{
    max-width: 700px;
    
    border-radius: 2px;
    
}
.img{
    
   
    margin-bottom: 2px;
    
    
}
.h2{
    margin-top: 3px;
}


